
.tooltip {
position: relative;
display: inline-block;
/*color: rgb(252, 119, 119); */
color: #cbd9f4;
cursor: pointer;
/* border-bottom: 1px dotted black; */
}

.tooltip:hover {
  color: rgb(252, 119, 119);
}



.lemma_set {
  color: rgb(0 255 186);

  position: relative;
  display: inline-block;
  cursor: pointer;
}
.lemma_set:hover {
  color: rgb(0 255 34);
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip_selected {
  position: relative;
  display: inline-block;
  color: rgb(252, 119, 119);
  cursor: pointer;
  }





#editbtn {

  color: rgb(0, 255, 34);
  border: 1px solid rgb(0, 255, 34);
}

#delbtn {
  color: red;
  border: 1px solid red;
}


.tooltip_opt {

  width: 60px;
  border-style: solid;
  padding: 2px;
  border-radius: 2px;
  background-color: #071022;
  color: #cbd9f4;
  font-family: Calibri;
  position:relative;
  font-size: 17px;
  cursor: pointer;
  background-color: #172136;
 
}


.tooltip_opt:hover {
  background-color: #040a16;
} 

.lemma_tt {
  display: none;
}

/*
.tooltip .lemma_tt, .tooltip_selected .lemma_tt {

    visibility: hidden;
    min-width: 170px;
    max-width: 240px;
    width: fit-content;
    height: fit-content;
    background-color: #071022;
    color: #cbd9f4;
    text-align: center;
    border-radius: 6px;
    border: solid 1px black;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -85px;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 0;
    cursor: default;
  
  }


.tooltip:hover .lemma_tt {
  visibility: visible;
}


  #tt_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

.lemma_tag_tt {
  height:fit-content;
  width: fit-content;

  outline: none;
  overflow: hidden;

  box-sizing: border-box;

  font-size: 15px;
  font-family: Bookerly;
  color: #cbd9f4;

  border-bottom-right-radius: 6px;
  border-top-left-radius: 5px;
  padding: 5px;
  background-color: #040a16;
  border: 1px solid black;
  border-left: none;
  border-top: none;

  resize: none;
}

#tt_mid {
   display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    flex-grow: 1;
}

#tt_meaning {
  background-color: #040a16;

   padding: 4px;
   flex: 1;
   color: #cbd9f4;
   border-radius: 4px;
   border: 1px solid black;;

   font-family: 'IBM_PLEX_SANS';
   font-size: 15px;

   size: inherit;
   min-height: 10px;
   max-width: 180px;
   resize: none;
   outline: none;
   box-sizing: border-box;
}


  #tt_bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

#pos_tag_box_tt {
  height:fit-content;
  width: fit-content;
  cursor: default;;

  font-size: 9px;
  font-family: IBM_Plex_Sans;
  color: black;

  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-left: 10px;
}



.pos_tag_tt {

  padding-left: 4px;
  padding-right: 4px;
  user-select: none;
  width: 9px;
  height: 12px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}



#pos_tag_verb_tt {
  background-color: #4dac0d;
}

#pos_tag_adj_tt {
  background-color: #fc7f03;
}

#pos_tag_noun_tt {
  background-color: #9cac0d;
}

#pos_tag_adverb_tt {
  background-color: #e32f1a;
}

#pos_tag_prep_tt {
  background-color: #0d9cac;
}

#pos_tag_conj_tt {
  background-color: #0dac62;
}

#pos_tag_part_tt {
  background-color: #ac0d9c;
}
*/
