#dict_hidden_box {
    position: fixed;
    bottom: 0px;
    right: 4%;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #040a16;
    color: #cbd9f4a6;
    
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px;
    height: 25px;
    width: 50px;
}
#dict_hidden_box:hover {
    color: #cbd9f4;
}
#dict_hidden_text {
    font-family: Calibri;
    font-size: 13px;
}

#dict_outline {
    display: none;
    flex-flow: column-reverse nowrap;
    height: fit-content;
    width: 200px;
    max-height: 80%;
  
    position: fixed;
    top: 0px;
    right: 2%;
    z-index: 2;
    
}

#dict_topbar {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    height: 30px;
    min-height: 30px;
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #040a16;
    justify-content: space-between;
}
#dict_bottombar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  

    box-sizing: border-box;
    height: 40px;
    min-height: 40px; /*looks redundant but without it the bar shrinks to 57 when the results pop up, fuck knows why */
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #040a16;
    padding: 3px;
}

#dict_searchbox {
    width: 70%;
    height: 85%;

    padding: 3px;
    outline: none;
    overflow: hidden;
    resize: none;
    border-radius: 4px;
    border: 2px solid #040a16;
    box-sizing: border-box;

    color: #cbd9f4;
    font-family: IBM_Plex_Sans;
    font-size: 11px;
    background-color:#071022;
}
#dict_searchbox:focus {
    border: 2px solid black;
}

#dict_body {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    overflow-y: auto;

    /*firefox*/
    scrollbar-color: #040a16 #172136;
    scrollbar-width: thin;
}

#dict_body::-webkit-scrollbar {
    width: 9px;
}
#dict_body::-webkit-scrollbar-thumb {
    background-color: #040a16;
    border-right: 2px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

#dict_body::-webkit-scrollbar-track {
    background-color: #172136;
    border-right: 2px solid black;
}

.dict_row {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
   
    color: #cbd9f4;
    font-family: IBM_Plex_Sans;
    font-size: 10px;
    background-color: #071022;
    border-bottom: 1px solid black;
}
.dict_row:nth-child(even) {
    background-color: #040a16;
}
.dict_row:first-child {
    border-top: 1px solid black;
}


.dict_cell {
    
    /*height: inherit; */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    word-break: break-word;
}



.dict_cell.left {
    border-left: 2px solid black;
    border-right: 1px solid black;
}
.dict_cell.right {
    border-left: 1px solid black;
    border-right: 2px solid black;
}

.dict_cell.Wk {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.dict_cell.dict_pos {
    background-color: #172136;
    font-weight: bold;
    font-size: 10.5px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.wiki_pos {
    font-size: 8px;
    font-weight: normal;
}
.wiki_headword_grammar {
    font-weight: normal;
    font-size: 8px;
}
.PONS_title_info {
    font-weight: normal;
    color: rgb(230, 230, 230);
    font-size: 9.5px;
}

#dict_logo {    
    height: 80%;
    width: 24px;
    border-radius: 5px;
    user-select: none;

    opacity: 70%;
}
#dict_logo:hover {
    opacity: 100%;
}

#dict_minimise {
    height: 76%;
    width: 11%;
    background-color: inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}
#dict_minimise:hover {
    background-color: #172136;
}
#dict_minimise:hover #minimise{
    background-color: #cbd9f4;
}


#dict_close {
    height: 76%;
    width: 11%;
    background-color: inherit;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}
#dict_close:hover {
    background-color: #172136;
}
#dict_close:hover #red_cross{
    fill: rgb(255, 41, 41);
}

#minimise {
    background-color: rgb(141 147 157);
    height: 16%;
    width: 46%;
}

#dict_history {
    height: 100%;
    width: 30%;
    background-color: inherit;
    /* border-top-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    border-right: 1px solid black;
    border-left: 1px solid black;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dict_hist_arrow {
    color: rgb(141 147 157);
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.dict_hist_arrow.active {
    /* background-color: #172136; */
    color: white;
    cursor: pointer;
}

#dict_back_btn {
    border-right: 0.5px solid black;

}
#dict_fwd_btn {
    border-left: 0.5px solid black;
    /* border-bottom-right-radius: 4px; */
}

#red_cross {
    fill: rgba(255, 0, 0, 0.836);
    height: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
}

#dict_select {
    display: flex;
    flex-flow: column-reverse nowrap;
    background-color: #040a16;
    overflow-y: auto;
    max-height: 200px;
    height: fit-content;
    width: 94px;
    position: absolute;
    bottom: 60px;
    right: 0;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 5px;
}
#dict_select::-webkit-scrollbar {
    width: 0px;
}

.dict_name {
    border-top: 1px solid black;
    color: #cbd9f4;
    padding: 4px;
    font-size: 11px;
    font-family: Calibri;
    text-align: center;
    user-select: none;
    cursor: default;
}
.dict_name:hover {
    background-color: #172136;
    color: white;
}
.dict_name:first-child {
    border-bottom: 1px solid black;
}
.dict_name:last-child {
    border-top-left-radius: 5px;
}

/* sozdik.kz */

.dict_cell.sozdik_title {
    background-color: #172136;
    font-weight: normal;
    font-size: 13px;
    font-family: Calibri;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

abbr {
    font-weight: normal;
    font-style: italic;
}

.ru_clickable {
    color: cyan;
}
.kaz_clickable {
    color: #ffca00;
    cursor: pointer;
}
.kaz_clickable:hover {
    color:#fbff00;
}

.dict_cell.sozdik_synonyms {
    background-color: #172136;
    font-weight: normal;
    font-size: 11px;
    text-align: left;
    font-style: italic;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

em {
    font-weight: bold;
}
.MR_grammar {
    font-size: 10px;
    font-weight: normal;
}
.MR_link {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}
.MR_clickable {
    cursor: pointer;
    text-decoration: underline;
}
.MR_clickable:hover {
    color: cyan;
}

.ddo_speaker {
    cursor: pointer;
    vertical-align: middle;
}
.ddo_header {
    color: #cbd9f4;
    font-family: 'IBM_Plex_Sans';
    font-size: 10px;
    background-color: #071022;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.ordform {
    font-style: italic;
}
.ddo_header_grammar, .ddo_topline_grammar {
    color: #cbd9f4ab;
}
.stempel {
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    background-color: #9cc5dd;
    border: 1px solid #333333;
    font-size: 9px;
    letter-spacing: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.3em;
    margin: 0 0.6em 0 0;
 
}

#philolog_body {
    font-family: NewAthenaUnicode, WebNewAthenaUnicode, helvetica, arial,
    san-serif;
    background-color: #071022;
    color: white;
    padding: 5px;
    overflow-y: auto;
    scrollbar-color: #040a16 #172136;
    scrollbar-width: thin;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 11px;
}

.dict_row.phil_hom_header {
    font-family: NewAthenaUnicode, WebNewAthenaUnicode, helvetica, arial,
    san-serif;
    background-color: #172136;
    font-weight: bold;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    justify-content: space-around;
}

.phil_hom_btn {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #040a16;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phil_hom_btn.deactive {
    color: #cbd9f47c;
    background-color: #071022;
}
.phil_hom_btn:hover {
    cursor: pointer;
    /* background-color: #040a16; */
    color: #cbd9f4;
}

.dict_cell.bildilchin {
    border-left: 2px solid black;
    border-right: 2px solid black;

    line-height: 15px;
}
.dict_cell.bildilchin c {
    color: #fff800;
}
.dict_cell.bildilchin > p > i {
    font-weight: bold;
    font-style: normal;
    color: rgb(0 255 237)
}

/***********************************PHILOLOG STOLEN CSS***********************************/
@font-face {
    font-family: "WebNewAthenaUnicode";
    src:
    local("NewAthenaUnicode"),
    url("newathu5_8.woff") format("woff"),
    url("newathu5_8.ttf") format("ttf");
}

:root {
    --author-color: #f45757;
    --bib-color: #3dd171;
    --author-color-dark: #f45757;
    --bib-color-dark: #3dd171;
    --ref-color: darkorange;
    --ref-color-dark: darkorange;
    --gloss-color: black;
    --foreign-color: #03a5fc;
    --quote-color: #03a5fc;
    --foreign-color-dark: #03a5fc;
    --quote-color-dark: #03a5fc;
    --attr-color: #03a5fc;
    --attr-color-dark: #03a5fc;
    --author-weight: normal;
    --bib-weight: normal;
    --ref-weight: normal;
    --gloss-weight: bold;
    --foreign-weight: normal;
    --quote-weight: normal;
}

.dark .fo {
    color: blue;
    color: var(--foreign-color-dark, blue);
}
.dark .qu {
    color: blue;
    color: var(--quote-color-dark, blue);
}
.fo {
    color: blue;
    color: var(--foreign-color, blue);
}
.qu {
    color: blue;
    color: var(--quote-color, blue);
}
.tr {
    font-weight: bold;
}
.au {
    color: #ac1b1b;
    color: var(--author-color, #ac1b1b);
}
.dark .au {
    color: #f45757;
    color: var(--author-color-dark, #f45757);
}
.bi {
    color: #0c640c;
    color: var(--bib-color, #0c640c);
}
.dark .bi {
    color: #3dd171;
    color: var(--bib-color-dark, #3dd171);
}
.ti {
    color: #8b22a0;
    color: var(--ref-color, #8b22a0);
}
.dark .ti {
    color: darkorange;
    color: var(--ref-color-dark, darkorange);
}
.biblLink {
    color: #0c640c;
    color: var(--bib-color, #0c640c);
}
.dark .biblLink {
    color: #3dd171;
    color: var(--bib-color-dark, #3dd171);
}
.attrlink {
    color: blue;
    color: var(--attr-color, blue);
}
.dark .attrlink {
    color: #03a5fc;
    color: var(--attr-color-dark, #03a5fc);
}
.storelink {
    color: blue;
}
.dark .storelink {
    color: #03a5fc;
}
.qu:before {
    content: '"';
}
.qu:after {
    content: '"';
}
.label {
    font-weight: bold;
    margin-right: 5px;
    /*position: absolute;
    left: -36px;*/
}
.label:after {
    content: " ";
}
.orth {
    font-weight: bold;
}

.biblLink:link {
    text-decoration: none;
}
.biblLink:visited {
    text-decoration: none;
}
.biblLink:hover {
    text-decoration: underline;
}
.biblLink:active {
    text-decoration: none;
}
.bi {
    text-decoration: none;
}

.l1 {
    margin-left: 10px;
    position: relative;
}
.l2 {
    margin-left: 20px;
    position: relative;
}
.l3 {
    margin-left: 30px;
    position: relative;
}
.l4 {
    margin-left: 40px;
    position: relative;
}
.l5 {
    margin-left: 50px;
    position: relative;
}
.body {
    line-height: 1.2;
    margin: 8px 0px;
}



.orangetext {
    color: orange;
}
.greentext {
    color: green;
}
.bluetext {
    color: blue;
}
.redtext {
    color: red;
}
.boldtext {
    font-weight: bold;
}
.blacktext {
    color: black;
}
.attrlink {
    color: blue;
}
/***********************************PHILOLOG STOLEN CSS***********************************/