.tooltip {
position: relative;
display: inline-block;
color: rgb(252, 119, 119);
/* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext1 {
  display: none;
  position: absolute;
}

.tooltip .tooltiptext2 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext3 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext4 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext5 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext6 {
  display: none;
  position: absolute;
}
.tooltiptext6 {
  display: none;
  position: absolute;
}

